[user]
    name = Balazs Toth
    email = balazs.toth@balabit.com

[core]
    editor = vim

[alias]
    discard = checkout --
    unstage = reset HEAD --
    stash-unapply = !git stash show -p | git apply -R

[color]
    ui = auto

[push]
    #default = upstream
    default = tracking

[grep]
    linenumber = true

[gui]
    fontui = -family IPAGothic -size 16 -weight normal -slant roman -underline 0 -overstrike 0
    fontdiff = -family IPAGothic -size 16 -weight normal -slant roman -underline 0 -overstrike 0
