
# my directories
download/
media/
local/
projects/
var/
usr/src/

# pulse
.config/pulse/
.pulse-cookie

# chromium
.cache/
.config/chromium/
.config/menus/
.gnome/
.pki/

# steam
.steam/
.steampath
.steampid

.tig_history
.fehbg

.backup/
.histfile
.ssh/
.viminfo
.w3m/
.zcompdump
.Xauthority
.dmenu_cache
.lesshst
.xsession-errors
.wget-hsts
.gitignore.swp
.mozilla/
.rtorrent.session/
.thumbnails/
.local/share/
.sqlmap/
.config/gtk-2.0/
.config/rncbc.org/
.config/dconf/
.config/unity3d/
.config/configstore/
.config/freerdp/
.config/git/
.config/google-chrome/
.config/remmina/
.config/vlc/
.config/wireshark/
.IdeaIC2017.1/
.audacity-data/
.bash_history
.erlang.cookie
.gcs.pref
.gdbinit
.ghc/
.gimp-2.8/
.install4j
.ivy2/
.java/
.jprofiler10/
.npm/
.nvm/
.oracle_jre_usage/
.pylint.d/
.python_history
.rnd
.scala_history
.screenlayout/
.visualvm/
.openarena/
.sbt/
