.backup/
.histfile
.ssh/
.viminfo
.w3m/
.zcompdump
.Xauthority
.dmenu_cache
.lesshst
.xsession-errors
.config/gtk-2.0/
.config/rncbc.org/
.config/dconf/
.config/unity3d/
.wget-hsts
.gitignore.swp
.mozilla/
.rtorrent.session/
.thumbnails/

# pulse shit
.config/pulse/
.pulse-cookie

# chromium poop
.cache/
.config/chromium/
.config/menus/
.gnome/
.pki/

# steam crap
.steam/
.steampath
.steampid

# my directories
download/
media/
local/


