[zwa]
default-workspace-dir = /home/tobal/opt/stew
git-user = git
zbs-user = tobal
user-name = Balazs Toth
user-email = balazs.toth@balabit.com
disable-automatic-update = no
zwa-must-updated = no
git-read-only = no
git-print-stats = no
update-global-dotgitconfig = no
git-server-address = git.balabit
git-server-repobasedir = /
print-backtrace = yes
selfupdate-resets-zwa-to-origin = no
print-checkbuilddeps-input = no

[tool "featurebranch"]
operate-both-xcb-modules = no

[command "release"]
wait-for-build-is-default = yes

[command "project"]
rebase-updates-remote = no

